.text {
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 0.08em;
  color: #1976D2;
  text-transform: initial;
  background: #FFFFFF;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}